*.iml
.gradle
/local.properties
/.idea/.name
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/deploymentTargetDropDown.xml
/.idea/libraries
/.idea/misc.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
.DS_Store
local.properties

build/
/captures
/dist
/studio.vmoptions
