*.iml
.DS_Store
.gradle
/.idea/.name
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/deploymentTargetDropDown.xml
/.idea/libraries
/.idea/misc.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/.kotlin/
/local.properties
local.properties

build/
/captures
/dist
/studio.vmoptions
